*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#parent1{
    height: 500px;
    width: 300px;
    border: 1px solid rgb(202, 196, 196);
    position: absolute;
    top: 80px;
    left: 600px;
    border-radius: 15px;
}
#i1{
    width: 300px;
    height: 165px;
    border-radius: 15px;
}
#i2{
    position: absolute;
    height: 10px;
    width: 300px;
    top: 150px;
}
body{
    background-color: skyblue;
}
#box{
    height: 348px;
    width: 300px;
    border: 1px solid white(202, 196, 196) ;
    background-color: white;
    position: absolute;
    top: 150px;
    border-radius: 15px;
    
}
#p1{
    font-size: larger;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 77px;
}
#p2{
    color: rgb(139, 144, 149);
    text-align: center;
    position: absolute;
    top: 50px;
    width: 230px;
    left: 27px;
}
#box2{
    height: 80px;
    width: 230px;
    border: 1px solid rgb(241, 246, 252);
    background-color: rgb(241, 246, 252);
    border-radius: 10px;
    position: absolute;
    top: 130px;
    left: 34px;
}
#i3{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 10px;

}
#a1{
    position: absolute;
    top: 18px;
    left: 60px;
    font-size:small;
    font-weight: bold;
}
#a2{
     color: rgb(139, 144, 149);
     position: absolute;
     top: 40px;
     left: 60px;
}
a{
    position: absolute;
    top: 25px;
    left: 160px;
}
#pr{
    height: 30px;
    width: 215px;
    border: 1px solid blue;
    position: absolute;
    top: 210px;
    left: -118px;
    background-color: blue;
    border-radius: 5px;
    box-shadow: 1px 16px 50px rgb(42, 88, 217);
}
#c1{
    position: absolute;
    top: 5px;
    left: 36px;
    font-family: monospace;
    color: white;
    font-weight: bold;
}
#ca{
    position: absolute;
    top: 445px;
    left: 111px;
    color: rgb(139, 144, 149);
    font-weight: bold;
    font-size: small;
}
